<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>新增账户</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            <aside class="lyear-layout-sidebar">

                <!-- logo -->
                <div id="logo" class="sidebar-header">
                    <a href="index.html"><h2>HMI监控系统</h2></a>
                </div>
                <div class="lyear-layout-sidebar-scroll">

                    <nav class="sidebar-main">
                        <ul class="nav nav-drawer">
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>监控模块</a>
                                <ul class="nav nav-subnav">
                                    <li> <a href="/equipmentStatusMonitoring">设备状态监控</a> </li>
                                    <li> <a href="/ioequipmentStatusMonitoring">设备IO状态监控</a> </li>
                                    <li> <a href="/safetyMonitoring">安全监控操作</a> </li>
                                    <li> <a href="/curveQuery">压装曲线监控</a> </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i>系统操作&设置</a>
                                <ul class="nav nav-subnav">
                                    <li> <a href="/manualOperation">手动操作功能</a> </li>
                                    <li> <a href="/parameterSetting">参数设定功能</a> </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-has-subnav ">
                                <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i>压装程序设置</a>
                                <ul class="nav nav-subnav">
                                    <li> <a href="/programMing">压装程序编写</a> </li>
                                    <li> <a href="/parameterCompilation">产品压装参数编写</a> </li>
                                    <li> <a href="/parameterStorage">产品压装参数存储</a> </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i> 压力位移曲线</a>
                                <ul class="nav nav-subnav">
                                    <li> <a href="/curveAcquisition">曲线采集</a> </li>
                                    <li> <a href="/curveStorage">曲线存储</a> </li>
                                    <li> <a href="/dataQuery">历史数据查询</a> </li>
                                    <li> <a href="/curveQuery">历史曲线查询</a> </li>
                                    <li> <a href="/dataExport">历史数据导出</a> </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-has-subnav active open">
                                <a href="javascript:void(0)"><i class="mdi mdi-menu"></i> 权限控制</a>
                                <ul class="nav nav-subnav">
                                    <li > <a href="/accountManagement">管理员角色</a> </li>
                                    <li ><a href="/OperatorRole">修改账户</a> </li>
                                    <li class="active"> <a href="/createAnAccount">账号自主创设</a> </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-menu"></i> 报警</a>
                                <ul class="nav nav-subnav">
                                    <li> <a href="/equipmentFaultAlarm">设备故障报警</a> </li>
                                    <li> <a href="/callThePolice">报警信息历史查询</a> </li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-menu"></i> PLC对接</a>
                                <ul class="nav nav-subnav">
                                    <li> <a href="">多型号对接支持</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>


                </div>

            </aside>
            <!--End 左侧导航-->
            <!--头部信息-->
            <header class="lyear-layout-header">

                <nav class="navbar navbar-default">
                    <div class="topbar">

                        <div class="topbar-left">
                            <div class="lyear-aside-toggler">
                                <span class="lyear-toggler-bar"></span>
                                <span class="lyear-toggler-bar"></span>
                                <span class="lyear-toggler-bar"></span>
                            </div>
                            <span class="navbar-page-title">欢迎你 </span>
                        </div>

                        <ul class="topbar-right">
                            <li class="dropdown dropdown-profile">
                                <a href="javascript:void(0)" data-toggle="dropdown">

                                    <span>我的<span class="caret"></span></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li> <a href="lyear_pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                                    <li> <a href="lyear_pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                                    <li class="divider"></li>
                                    <li> <a href="lyear_pages_login.html"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                                </ul>
                            </li>
                            <!--切换主题配色-->
                            <li class="dropdown dropdown-skin">
                                <span data-toggle="dropdown" class="icon-palette">切换主题配色</span>
                                <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                                    <li class="drop-title"><p>主题</p></li>
                                    <li class="drop-skin-li clearfix">
                                            <span class="inverse">
                                                <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                                                <label for="site_theme_1"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                                                <label for="site_theme_2"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                                                <label for="site_theme_3"></label>
                                            </span>
                                    </li>
                                    <li class="drop-title"><p>LOGO</p></li>
                                    <li class="drop-skin-li clearfix">
                                            <span class="inverse">
                                                <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                                                <label for="logo_bg_1"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                                                <label for="logo_bg_2"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                                                <label for="logo_bg_3"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                                                <label for="logo_bg_4"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                                                <label for="logo_bg_5"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                                                <label for="logo_bg_6"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                                                <label for="logo_bg_7"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                                                <label for="logo_bg_8"></label>
                                            </span>
                                    </li>
                                    <li class="drop-title"><p>头部</p></li>
                                    <li class="drop-skin-li clearfix">
                                            <span class="inverse">
                                                <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                                                <label for="header_bg_1"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                                                <label for="header_bg_2"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                                                <label for="header_bg_3"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                                                <label for="header_bg_4"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                                                <label for="header_bg_5"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                                                <label for="header_bg_6"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                                                <label for="header_bg_7"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                                                <label for="header_bg_8"></label>
                                            </span>
                                    </li>
                                    <li class="drop-title"><p>侧边栏</p></li>
                                    <li class="drop-skin-li clearfix">
                                            <span class="inverse">
                                                <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                                                <label for="sidebar_bg_1"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                                                <label for="sidebar_bg_2"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                                                <label for="sidebar_bg_3"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                                                <label for="sidebar_bg_4"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                                                <label for="sidebar_bg_5"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                                                <label for="sidebar_bg_6"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                                                <label for="sidebar_bg_7"></label>
                                            </span>
                                        <span>
                                                <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                                                <label for="sidebar_bg_8"></label>
                                            </span>
                                    </li>
                                </ul>
                            </li>
                            <!--切换主题配色-->
                        </ul>

                    </div>
                </nav>

            </header>
            <!--End 头部信息-->
            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-toolbar clearfix">

                                    <div class="toolbar-btn-action">
                                        <h3>新增账户</h3>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <form @submit="submit" action="/addUser" method="post" class="row">
                                        <div class="form-group col-md-12">
                                            <label for="type">角色</label>
                                            <div class="form-controls">


                                                <select  name="roleId" class="form-control" id="type" >
                                                    <option  v-for="item in listRole"  :value="item.id" >{{item.roleName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="title">用户名</label>
                                            <input type="text" class="form-control" id="title" v-model="name" name="userName" value="" placeholder="请输入用户名" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="title">新密码</label>
                                            <input type="text" class="form-control" name="userPassWord" v-model="password1" id="password"  value="" placeholder="请输入新密码" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="title">确认新密码</label>
                                            <input type="text" class="form-control" v-model="password2"  name="" id="passwords"  value="" placeholder="请再次输入新密码" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="title">创建人</label>
                                            <input type="text" class="form-control" v-model="createby"  name="createby" id="createby"  value="" placeholder="创建人" />
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button type="submit"

                                                    class="btn btn-primary ajax-post" target-form="add-form" @click="createuser" >确 定</button>
                                            <button type="button" class="btn btn-default"><a href="/accountManagement">返 回</a></button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>
<script type="module">
    new Vue({
        el:"#app",
        data:{
            listRole:null,
            name:'',
            password1:'',
            password2:'',
            createby:''
        },methods:{
            getRole(){
                axios.get("/getRole").then(result=>{
                    this.listRole= result.data;
                })
            },submit(){
                if(this.name==='' || this.name===null){
                    window.event.returnValue = false
                    alert("用户名不能为空！")
                }else if(this.password1!=this.password2){
                    window.event.returnValue = false;
                    alert("用户密码不一致！")
                }else if(this.password1===''){
                    window.event.returnValue = false;
                    alert("密码名不能为空！")
                }else if(this.password2==='') {
                    window.event.returnValue = false;
                    alert("密码名不能为空！")
                }else if(this.createby===''){
                    window.event.returnValue = false;
                    alert("创建人不能为空！")
                }else{
                    window.event.returnValue = true;
                }
            },createuser(){
                if(this.name===''){

                }else if(this.password1!=this.password2){

                }else if(this.password1===''){

                }else if(this.password2==='') {

                }else if(this.createby===''){

                }else{
                    let requestDate={
                        uname:this.name
                    }
                    axios("/UserFlag",{params: requestDate}).then(response=>{
                        alert(response.data)

                    }).catch(function(error){
                        alert(error);
                    })
                }

            }
        },  created(){
            this.getRole();
        }
    })
</script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>