<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>压装曲线监控</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <script src="echarts.min.js"></script>
</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <script src="test.js"></script>
            <main class="lyear-layout-content">
                监控-压装曲线监控
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="main" style="width: 90%;height:600px;"></div>
                <form action="/curveQuery">
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;
                        X轴起始值：<input type="text" name="pressDataId"  th:value="${param.pressDataId}" > <input type="submit" value="确定">
                        <input type="submit" onClick="startPlc()"  value="启动PLC">
                    </div>

                </form>


                <script type="text/javascript" src="js/jquery.min.js"></script>
                <script type="text/javascript" src="js/bootstrap.min.js"></script>
                <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
                <script type="text/javascript" src="js/main.min.js"></script>
                <script type="text/javascript">


                    function getQueryVariable(variable)
                    {
                        var query = window.location.search.substring(1);
                        var vars = query.split("&");
                        for (var i=0;i<vars.length;i++) {
                            var pair = vars[i].split("=");
                            if(pair[0] == variable){return pair[1];}
                        }
                        return(false);
                    }


                    // 基于准备好的dom，初始化echarts实例 以后做的所有echarts操作都在ID为main这个模块下
                    var myChart = echarts.init(document.getElementById('main'));

                    var pressDataId=getQueryVariable("pressDataId");
                    if(pressDataId==false){
                        pressDataId=0;
                    }


                    var series1=[];
                    var names=[];

                    function setgraph() {
                        $.ajax({
                            type : "post",
                            async : false, //同步执行
                            url : "http://localhost:8080/getCurveQueryByCode",
                            data : {},
                            dataType : "json", //返回数据形式为json
                            success : function(result) {
                                names=[];//重置为空
                                for(var i=0;i<result.length;i++){
                                    names=[];//重置为空
                                    var arr=[];
                                    var isErrant=true;
                                    var isSolidLine=true;

                                    for(var j=0;j<result[i].length;j++){

                                        /*alert(i+"-----"+j+"----");
                                        alert(i+"-----"+j+"----"+result[i][j].pressForce);*/
                                        arr.push([result[i][j].position,result[i][j].pressForce]);
                                        if(j==0){
                                            isErrant=result[i][j].errant;
                                            isSolidLine=result[i][j].solidLine;
                                        }
                                        if(result[i][j].errant==false){
                                            names.push(result[i][j].position); //x名称显示
                                        }
                                    }
                                    // alert(names);
                                    var color="";
                                    if(isErrant){
                                        color="black";
                                    }else{
                                        color="blue";
                                    }
                                    var type="";
                                    if(isSolidLine){
                                        type="solid";
                                    }else{
                                        type="dotted";
                                    }

                                    series1.push({
                                        data:arr,/*需要显示的数据*/
                                        type: 'line',/*以什么方式展示*/
                                        color:color,  //折线条的颜色
                                        smooth:false,   //关键点，为true是不支持虚线的，实线就用true
                                        // 显示数值
                                        itemStyle:{
                                            normal:{
                                                lineStyle:{
                                                    width:2,
                                                    type:type  //'dotted'虚线 'solid'实线
                                                },label : {show: true}
                                            }
                                        }
                                    });


                                }
                                console.log("arr=>"+arr);
                            },
                            error : function(errorMsg) {
                                // alert("获取图表请求数据失败!");
                                myChart.hideLoading();
                            }
                        });

                        // 指定图表的配置项和数据
                        option = {
                            xAxis: {
                                type: 'category',
                                data: names/*需要显示的种类*/
                            },
                            yAxis: {
                                type: 'value',
                            },
                            series:series1

                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    }


                    $(function(){

                        t = setInterval("setgraph()", 1000);

                    })


                    function startPlc() {
                        // alert("页面启动PLC！");
                        /*   $.ajax({
                               type : "post",
                               async : false, //同步执行
                               url : "http://localhost:8080/startPlc",
                               data : {},
                               dataType : "json", //返回数据形式为json
                               success : function(result) {
                               },
                               error : function(errorMsg) {
                                   // alert("获取图表请求数据失败!");
                                   myChart.hideLoading();
                               }
                           });*/
                    }
                </script>

            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

</div>

<script >
    /*$("[href='"+url+"']").parent().parent().parent().addClass("nav-item nav-item-has-subnav active open");

    $("[href='"+url+"']").parent().addClass("active")*/
    /* new Vue({
         el:"#app",
         data:{

         },methods:{

         }
     })*/
</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>