<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>压装曲线监控</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <script src="echarts.min.js"></script>
</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <script src="test.js"></script>
            <main class="lyear-layout-content">
                监控-压装曲线监控
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="main" style="width: 90%;height:600px;"></div>
                <form action="/curveQuery">
                    <div>
                        <label style="margin-right: 30px;">系统连接</label><button   id="systemConnection" class="btn btn-success" disabled="disabled" type="button" ></button>
                        <label style="margin-right: 16px;" >数据记录中</label><button  id="dataCount" disabled="disabled" class="btn btn-success" type="button" ></button>
                        <label>压装结果</label><button  id="pressResultok" disabled="disabled" class="btn btn-success" type="button" ></button>
<!--                        <div id="pressResultok"  style="display:block;padding-left: 30px;padding-right: 30px; font-weight: 700;  text-align: center;"  ></div>-->
                        <br>
                        &nbsp;&nbsp;产品代码：<input type="text" name="productCode" id="productCode" value="-" disabled="disabled" readonly unselectable="on">
                        当前零件号：<input type="text" name="productId" id="productId" value="-"  disabled="disabled" readonly unselectable="on">
                        零件名称：<input type="text" name="productName" id="productName" value="-"  disabled="disabled" readonly unselectable="on">
                        追溯码：<input type="text" name="productTraceCode" id="productTraceCode" value="-" disabled="disabled" readonly unselectable="on">
                        当前位置:<input type="text" id="curPosition" value="-" disabled="disabled" readonly unselectable="on">
                        当前压力:<input type="text" id="curPressure" value="-" disabled="disabled" readonly unselectable="on">
                        <br>
                        X轴起始值：<input type="text" name="xMin" id="xMin" th:value="${param.xMin}" v-model="xMin" >
                        X轴最大值：<input type="text" name="xMax" id="xMax" th:value="${param.xMax}" >
                        <br>
                        Y轴起始值：<input type="text" name="yMin" id="yMin" th:value="${param.yMin}" >
                        Y轴最大值：<input type="text" name="yMax" id="yMax" th:value="${param.yMax}" >
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" onClick="setAxis()"  value="确定">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" onClick="startPlc()"  value="启动PLC测试">
                    </div>

                </form>


                <script type="text/javascript" src="js/jquery.min.js"></script>
                <script type="text/javascript" src="js/bootstrap.min.js"></script>
                <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
                <script type="text/javascript" src="js/main.min.js"></script>
                <script type="text/javascript">
                    var gray="#89898b";
                    var ok="OK";
                    var nok="NOK";

                    $("#systemConnection").css({"background": gray});
                    $("#dataCount").css({"background": gray});

                    $("#pressResultok").css({"background": gray});

                    $(document).ready(function () {
                        queryAxis();
                    });

                    function queryAxis()
                    {
                        // alert("query axis");
                        $.ajax({
                            type : "post",
                            async : false, //同步执行
                            url : "http://localhost:8080/getAxisProperty",
                            data : {},
                            dataType : "json", //返回数据形式为json
                            success : function(result) {
                                // alert("result.xMin = " + result.xMin);
                                document.getElementById("xMin").value=result.xMin;
                                document.getElementById("xMax").value=result.xMax;
                                document.getElementById("yMin").value=result.yMin;
                                document.getElementById("yMax").value=result.yMax;
                            },
                            error : function(errorMsg) {
                                // alert("获取图表请求数据失败!");
                                // myChart.hideLoading();
                            }
                        });
                        // document.getElementById("xMin").value=11;
                    }

                    function getQueryVariable(variable)
                    {
                        var query = window.location.search.substring(1);
                        var vars = query.split("&");
                        for (var i=0;i<vars.length;i++) {
                            var pair = vars[i].split("=");
                            if(pair[0] == variable){return pair[1];}
                        }
                        return(false);
                    }


                    // 基于准备好的dom，初始化echarts实例 以后做的所有echarts操作都在ID为main这个模块下
                    var myChart = echarts.init(document.getElementById('main'));

                    // var xMin=getQueryVariable("xMin");
                    // if(xMin==false){
                    //     xMin=0;
                    // }
                    var recordNo=0;

                    var xMin = document.getElementById("xMin").value;
                    if(xMin == "") {
                        xMin = 0;
                        document.getElementById("xMin").value=0;
                    }
                    // alert("xMin1="+xMin1);

                    var xMax = document.getElementById("xMax").value;
                    if(xMax == "") {
                        xMax = 400;
                        document.getElementById("xMax").value=400;
                    }
                    // alert("xMax="+xMax);

                    var yMin = document.getElementById("yMin").value;
                    if(yMin == "") {
                        yMin = 0;
                        document.getElementById("yMin").value=0;
                    }
                    // alert("yMin="+yMin);

                    var yMax = document.getElementById("yMax").value;
                    if(yMax == "") {
                        yMax = 10;
                        document.getElementById("yMax").value=10;
                    }
                    // alert("yMax="+yMax);

                    var series1=[];
                    // var names=[];

                    function setgraph() {

                        $.ajax({
                            type : "post",
                            async : false, //同步执行
                            url : "http://localhost:8080/getCurveQueryByCode",
                            data : {},
                            dataType : "json", //返回数据形式为json
                            success : function(result) {
                                for(var i=0;i<result.length;i++){
                                    names=[];//重置为空
                                    var arr=[];
                                    var isErrant=true;
                                    var isSolidLine=true;
                                    var recordNoNow=0;

                                    for(var j=0;j<result[i].length;j++){
                                        arr.push([result[i][j].position,result[i][j].pressForce]);

                                        if(!isErrant){
                                            document.getElementById("curPosition").value=result[i][j].position;
                                            document.getElementById("curPressure").value=result[i][j].pressForce;
                                        }

                                        if(j==0){
                                            isErrant=result[i][j].errant;
                                            isSolidLine=result[i][j].solidLine;

                                            if(!isErrant) {
                                                document.getElementById("productCode").value=result[i][j].productCode;
                                                document.getElementById("productId").value=result[i][j].productId;
                                                document.getElementById("productName").value=result[i][j].productName;
                                                document.getElementById("productTraceCode").value=result[i][j].productTraceCode;

                                                recordNoNow=result[i][j].recordNo;
                                                if(recordNo != recordNoNow) {
                                                    myChart.clear();
                                                    recorNo = recordNoNow;
                                                }
                                            }

                                        }
                                    }
                                    var color="";
                                    if(isErrant){
                                        color="green";
                                    }else{
                                        color="blue";
                                    }
                                    var type="";
                                    if(isSolidLine){
                                        type="solid";
                                    }else{
                                        type="dotted";
                                    }
                                    series1.push({
                                        data:arr,/*需要显示的数据*/
                                        type:'line',/*以什么方式展示*/
                                        color:color,  //折线条的颜色
                                        smooth:false,   //关键点，为true是不支持虚线的，实线就用true
                                        show:false, //曲线上各点数值显示
                                        symbol:"none",//曲线上圆圈显示
                                        // 显示数值
                                        itemStyle:{
                                            normal:{
                                                lineStyle:{
                                                    width:2,/*设置单个虚线原点的宽度*/
                                                    type:type  //'dotted'虚线 'solid'实线
                                                },label: {show: false}
                                            }
                                        }
                                    });
                                }
                                console.log("arr=>"+arr);
                            },
                            error : function(errorMsg) {
                                // alert("获取图表请求数据失败!");
                                myChart.hideLoading();
                            }
                        });

                        // 指定图表的配置项和数据
                        names=null;
                        option = {
                            xAxis: {
                                min:xMin,
                                max:xMax,
                                type: 'value',
                                scale: true
                            },
                            yAxis: {
                                min:yMin,
                                max:yMax,
                                type: 'value',
                            },
                            series:series1
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);
                    }


                    $(function(){

                        t = setInterval("setgraph()", 1000);

                    })

                    function getStatus()
                    {
                        $.ajax({
                            type : "post",
                            async : false, //同步执行
                            url : "http://localhost:8080/getStatus",
                            data : {},
                            dataType : "json", //返回数据形式为json
                            success : function(result) {
                                // alert("result="+result.curveOk);
                                if(result.plcConnected) {
                                    document.getElementById("systemConnection").style.background= "green";
                                    document.getElementById("dataCount").style.background= "green";
                                    $("#systemConnection").html("已连接");
                                    $("#dataCount").html("记录中");
                                } else {
                                    document.getElementById("systemConnection").style.background= "red";
                                    document.getElementById("dataCount").style.background= "red";
                                    $("#systemConnection").html("连接断开");
                                    $("#dataCount").html("记录停止");
                                }
                                if(result.curveOk) {
                                    $("#pressResultok").html("OK");
                                    document.getElementById("pressResultok").style.background= "green";
                                } else {
                                    $("#pressResultok").html("NOK");
                                    document.getElementById("pressResultok").style.background= "red";
                                }

                            },
                            error : function(errorMsg) {
                                // alert("获取图表请求数据失败!");
                                // myChart.hideLoading();
                            }
                        });
                    }

                    $(function(){
                        t = setInterval("getStatus()", 1000);
                    })


                    function startPlc() {
                        // alert("页面启动PLC！");
                        $.ajax({
                            type : "post",
                            async : false, //同步执行
                            url : "http://localhost:8080/startPlc",
                            data : {},
                            dataType : "json", //返回数据形式为json
                            success : function(result) {
                            },
                            error : function(errorMsg) {
                                // alert("获取图表请求数据失败!");
                                myChart.hideLoading();
                            }
                        });
                    }

                    function setAxis() {
                        // alert("设置轴参数！");
                        var axis= new AxisEntity();
                        $.ajax({
                            type : "post",
                            async : false, //同步执行
                            url : "http://localhost:8080/setAxis",
                            data : {axis:JSON.stringify(axis)},
                            dataType : "json", //返回数据形式为json
                            success : function(result) {
                            },
                            error : function(errorMsg) {
                                // alert("获取图表请求数据失败!");
                            }
                            // myChart.hideLoading();
                        });
                    }

                    function AxisEntity() {
                        this.xMin = $("#xMin").val();
                        this.xMax = $("#xMax").val();
                        this.yMin = $("#yMin").val();
                        this.yMax = $("#yMax").val();
                        this.xMin2 = $("#xMin2").val();
                        this.xMax2 = $("#xMax2").val();
                        this.yMin2 = $("#yMin2").val();
                        this.yMax2 = $("#yMax2").val();
                    }
                </script>

            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

</div>

<script >
    /*$("[href='"+url+"']").parent().parent().parent().addClass("nav-item nav-item-has-subnav active open");

    $("[href='"+url+"']").parent().addClass("active")*/
    /* new Vue({
         el:"#app",
         data:{

         },methods:{

         }
     })*/
</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>