<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>历史汇总数据查询</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <!--时间选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link href="css/style.min.css" rel="stylesheet">
    <style>
        .imagetable{
            border:2px solid white;
            width: 80%;
            margin-left: 100px;
        }
        table.imagetable {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-color:white;
            border-collapse: collapse;
        }
        table.imagetable td {
            background:white;
            border-width: 1px;
            padding: 8px;
           /* border-style: solid;*/
        }
        table.imagetable th {
            background:#b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <script src="test.js"></script>
            <main class="lyear-layout-content">
<!--                <br>-->
<!--                <form action="/getPressureSumData" method="post">-->
                    <div>
                        <label>班次：</label>
<!--                        v-model="list.programCode"  @change='getProgram()'-->
                        <select name="time" ref="time" id="time" style="width:300px;margin-right: 30px;margin-left: 10px;">
                            <option value="0" selected>当日</option>
                            <option value="1">白班</option>
                            <option value="2">夜班</option>
                        </select>
                        <label>警戒失败条数：</label>
                        <input type="text" name="defaultFailNum" ref="defaultFailNum" id="defaultFailNum" >
                    </div>
<!--                <table class="imagetable">-->
<!--                    <tr>-->
<!--                        <td colspan="2">产品代码：<input type="text"></td>-->
<!--                        <td><input type="submit" value="查看历史曲线" style="background-color: #33CABB;height: 35px;color: white" ></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>开始时间：-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-12">-->
<!--                                    <div class="card">-->
<!--                                        <input  class="form-control js-datetimepicker" type="text" name="add_time" placeholder="请选择开始时间" value="" data-side-by-side="true" data-locale="zh-cn" data-format="YYYY-MM-DD HH:mm" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </td>-->
<!--                        <td>结束时间：-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-12">-->
<!--                                    <div class="card">-->
<!--                                        <input class="form-control js-datetimepicker" type="text"  name="add_time" placeholder="请选择结束时间" value="" data-side-by-side="true" data-locale="zh-cn" data-format="YYYY-MM-DD HH:mm" />-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </td>-->
<!--                        <td><input type="button" value="查询" style="background-color: #33CABB;width: 70px;height: 35px;color: white" ></td>-->
<!--                    </tr>-->
<!--                </table>-->
                </form>
                <br>
                <table class="imagetable">
                    <tr>
                        <th>合计数量</th>
                        <th>成功数数量</th>
                        <th>失败数数量</th>
                    </tr>
                    <tr v-for="o in list" >
                        <td>{{o.totalAmount}}</td>
                        <td>{{o.successAmount}}</td>
                        <td>{{o.failAmount}}</td>
                    </tr>
                   <tr>
<!--                                               <td style="background-color: #73d251" >1</td>-->
<!--                                               <td style="background-color: #73d251" >2</td>-->
<!--                                               <td style="background-color: #73d251" >3</td>-->
                    </tr>
                </table>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>
<script type="module">
    new Vue({
        el:"#app",
        data:{
            list:{}
        },methods:{
            getPressureSumData(){
                // alert("getPressureSumData");
                let requestData={
                    time:document.getElementById("time").value,
                    defaultFailNum:document.getElementById("defaultFailNum").value
                }

                axios.get("/getPressureSumData",{params:requestData}).then(result=>{
                    this.list=result.data;
                })
            },
            timer(){
                if (this.interval!=null){/*代表计时器已经启动*/
                    return ;
                }
                this.intervalId = setInterval(() => {
                    this.getPressureSumData();
                }, 2000);
                // this.intervalId = setInterval("getPressureSumData()", 200);
            }
        }, created(){
            this.timer();
            this.getPressureSumData();
        },destroyed () {
            // （很重要）当跳转到其他页面的时候，要在生命周期的destroyed里清空this.cdTimer，不然会出错
            clearTimeout(this.intervalId)

        },
    })
</script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<!--时间选择插件-->
<script src="js/bootstrap-datetimepicker/moment.min.js"></script>
<script src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>