<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>历史不合格压装信息</title>
    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <script src="echarts.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <!--时间选择插件-->
    <script src="js/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
    <!--日期选择插件-->
    <script src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
    <style>
        .imagetable{
            border:2px solid white;
            width: 80%;
            margin-left: 100px;
        }
        table.imagetable {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-collapse: collapse;
        }
        table.imagetable td {
            background:white;
            border-width: 1px;
            padding-left: 8px;
            padding-top: 8px;
            padding-right: 8px;
        }

        .imagetable2{
            border:2px solid black;
            width: 80%;
            margin-left: 100px;
        }
        table.imagetable2 {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-color: black;
            border-collapse: collapse;
        }
        table.imagetable2 td {
            background:white;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
        table.imagetable2 th {
            background:#b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
    </style>
    <script src="jquery-3.3.1.min.js">

    </script>
    <script >
        $(function (){
            $("#imagetable").hide();
            $("#daochu").click(function(){
                $("#imagetable").show();
            })
        })
    </script>
</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <script src="test.js"></script>

            <main class="lyear-layout-content">
                历史不合格压装信息
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <table class="imagetable">
                    <tr>
                        <td>开始日期：
                            <div class="card">
                                <input class="form-control js-datepicker m-b-10" type="text" ref="startDate"  id="startDate"
                                       name="startDate" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd" v-model="startDate"/>
                            </div>
                        </td>
                        <td>结束日期：
                            <div class="card">
                                <input class="form-control js-datepicker m-b-10" type="text" ref="endDate"  id="endDate"
                                       name="endDate" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd"  v-model="endDate"/>
                            </div>
                        </td>
                        <td><input type="submit" @click="getNokHisData()" value="查询" style="background-color: #33CABB;width: 70px;height: 35px;color: white" id="query" ></td>
                    </tr>
                </table>
                <table class="imagetable2">
                    <tr>
                        <th>追溯码</th>
                        <th>记录号</th>
                        <th>状态</th>
                        <th>数据时间</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="o in nokList">
                        <td :style="{background:o.impression}">{{o.traceCode}}</td>
                        <td :style="{background:o.impression}">{{o.recordId}}</td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.pressResult=='1'">OK</span>
                            <span v-else-if="o.pressResult=='0'">NOK</span>
                        </td>
                        <td :style="{background:o.impression}">{{o.startDate}}</td>
                        <td><input  type="button" @click="showGraph(o.recordId)" value="显示曲线"></td>
                    </tr>
                </table>
                <div >
                    <!--<label>产品代码：{{pressureData}}</label>-->
                    <div id="main" style="width: 90%;height:600px; "></div>
                    <div  v-if="pressureData!=null" style="padding-left: 500px;">
                        <span id="data" style="font-size: 25px" >
                    最大压力值: {{pressureData.maxPress}}kn
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x
                    最大压力时位移:
                    {{pressureData.positionOfMaxPress}}mm
                    <br>
                    压装开始时间:
                    {{pressureData.startDate}}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    压装结束时间:
                    {{pressureData.endDate}}
                        </span>
                    </div>
                </div>

                <script type="text/javascript" src="js/jquery.min.js"></script>
                <script type="text/javascript" src="js/bootstrap.min.js"></script>
                <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
                <script type="text/javascript" src="js/main.min.js"></script>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <!--时间选择插件-->
    <script src="js/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
    <!--日期选择插件-->
    <script src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>

<script  type="module">
    new Vue({
        el:"#app",
        data:{
            recordId:null,
            pressureData:null,
            series1:[],
            startDate:'',
            endDate:'',
            nokList:[]
        },methods:{
            showGraph(recordId) {

                var myChart= echarts.init(document.getElementById('main'));
                axios.get("/getHisCurveByCode",{params:{recordId:recordId}}).then(result=>{
                    result =result.data;
                    for(let i in result){
                        if (i==0){
                            this.pressureData=result[i][0];
                            continue;
                        }
                        let arr=[];
                        let isErrant=true;
                        let isSolidLine=true;
                        // let recordNoNow=0;
                        for (let j in result[i]){
                            arr.push([result[i][j].position,result[i][j].pressForce]);
                            // if(j==0) {
                                isErrant = result[i][j].errant;
                                isSolidLine = result[i][j].solidLine;
                                if(!isErrant) {
                                    isSolidLine = true;
                                //     recordNoNow=result[i][j].recordNo;
                                //     if(recordNo != recordNoNow) {
                                //         // console.log("recordNo=>"+recordNo +", recordNoNow=>"+recordNoNow);
                                //         myChart.clear();
                                //         series1=[]
                                //         recordNo = recordNoNow;
                                //     }
                                }
                            // }
                            let color="";
                            if(isErrant){
                                color="green";
                            }else{
                                color="blue";
                            }
                            let type="";
                            if(isSolidLine){
                                type="solid";
                            }else{
                                type="dotted";
                            }
                            this.series1.push({
                                data:arr,/*需要显示的数据*/
                                type:'line',/*以什么方式展示*/
                                color:color,  //折线条的颜色
                                smooth:false,   //关键点，为true是不支持虚线的，实线就用true
                                show:false, //曲线上各点数值显示
                                symbol:"none",//曲线上圆圈显示
                                // 显示数值
                                itemStyle:{
                                    normal:{
                                        lineStyle:{
                                            width:2,/*设置单个虚线原点的宽度*/
                                            type:type  //'dotted'虚线 'solid'实线
                                        },label: {show: false}
                                    }
                                }
                            });

                        }
                    }
                    let  option = {
                        xAxis: {
                            type: 'value',
                        },
                        yAxis: {
                            type: 'value',
                        },
                        series:this.series1
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                    // console.log("arr=>"+arr);
                }).catch(err=>{
                    myChart.hideLoading();
                });

            },getNokHisData(){
                let requestData={
                    startDate:this.$refs.startDate.value,
                    endDate:this.$refs.endDate.value
                    // startDate:this.startDate,
                    // endDate:this.endDate
                }
                // alert("startDate="+this.startDate)
                // alert("endDate="+this.endDate)
                // alert("start="+this.$refs.startDate.value)
                axios.get("/getNokHisData",{params:requestData}).then(response=>{
                    this.nokList=response.data;
                }).catch(function(error){
                    alert(error)
                })
            }
        }, created(){
            this.getNokHisData();
        }
    });
    // 指定图表的配置项和数据

</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>