<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>历史温度报表</title>

    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--时间选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link href="css/style.min.css" rel="stylesheet">
    <style>
        .imagetable{
            border:2px solid white;
            width: 80%;
            margin-left: 20px;
        }
        table.imagetable {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-collapse: collapse;
        }
        table.imagetable td {
            background:white;
            border-width: 1px;
            padding-left: 8px;
            padding-top: 8px;
            padding-right: 8px;
        }

        .imagetable2{
            border:2px solid black;
            width: 80%;
            margin-left: 10px;
        }
        table.imagetable2 {
            font-family: verdana,arial,sans-serif;
            font-size:8px;
            color:#333333;
            border-width: 1px;
            border-color: black;
            border-collapse: collapse;
        }
        table.imagetable2 td {
            background:white;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
        table.imagetable2 th {
            background:#b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
    </style>

</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            <!--End 左侧导航-->

            <!--头部信息-->
            <!--End 头部信息-->
            <script src="test.js"></script>
            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <table class="imagetable">
                    <tr>
                        <td  width="20%"></td>
                        <td width="20%">PLC名：
                            <div  v-if="lineType == lineTypeB" class="card">
                                <select name="plcName" v-model="plcName" style="width:200px;height:40px;margin-right: 30px;margin-left: 10px;">
                                    <option value=""  selected="selected">无</option>
                                    <option value="B-1">压机一</option>
                                    <option value="B-2">压机二</option>
                                    <option value="B-3">压机三</option>
                                    <option value="B-4">压机四</option>
                                    <option value="B-5">压机五</option>
                                    <option value="B-W1">压机一无线</option>
                                    <option value="B-W2">压机二无线</option>
                                    <option value="B-W3">压机三无线</option>
                                    <option value="B-W4">压机四无线</option>
                                    <option value="B-W5">压机五无线</option>
                                </select>
                            </div>
                            <div  v-if="lineType == lineTypeA" class="card">
                                <select name="plcName" v-model="plcName" style="width:200px;height:40px;margin-right: 30px;margin-left: 10px;">
                                    <option value=""  selected="selected">无</option>
                                    <option value="A-1">压机一</option>
                                    <option value="A-2">压机二</option>
                                    <option value="A-3">压机三</option>
                                    <option value="A-4">压机四</option>
                                    <option value="A-W1">压机一无线</option>
                                    <option value="A-W2">压机二无线</option>
                                    <option value="A-W3">压机三无线</option>
                                    <option value="A-W4">压机四无线</option>
                                    <option value="A-W5">压机五无线</option>
                                </select>
                            </div>
                        </td>
                        <td>温度点名称：
                            <div v-if="lineType == lineTypeB" class="card">
                                <select name="temperatureName" v-model="temperatureName" style="width:200px;height:40px;margin-right: 30px;margin-left: 10px;">
                                    <option value=""  selected="selected" >无</option>
                                    <option value="getLowSpeedAxisEccentricCopperSleeveTemperature1">低速轴偏心铜套温度1</option>
                                    <option value="getLowSpeedAxisEccentricCopperSleeveTemperature2">低速轴偏心铜套温度2</option>
                                    <option value="getLowSpeedAxisEccentricCopperSleeveTemperature3">低速轴偏心铜套温度3</option>
                                    <option value="getLowSpeedAxisEccentricCopperSleeveTemperature4">低速轴偏心铜套温度4</option>
                                    <option value="getHighSpeedAxisEccentricCopperSleeveTemperature1">高速轴偏心铜套温度1</option>
                                    <option value="getHighSpeedAxisEccentricCopperSleeveTemperature2">高速轴偏心铜套温度2</option>
                                    <option value="getHighSpeedAxisRollingBearingTemperature1">高速轴滚动轴承温度1</option>
                                    <option value="getHighSpeedAxisRollingBearingTemperature2">高速轴滚动轴承温度2</option>
                                    <option value="getFlywheelSupportBigAxisTemperature1">飞轮支撑大轴承温度1</option>
                                    <option value="getFlywheelSupportBigAxisTemperature2">飞轮支撑大轴承温度2</option>
                                    <option value="getDrawbarBothEndsCopperSleeveTemperature1">拉杆两端铜套温度检测1</option>
                                    <option value="getDrawbarBothEndsCopperSleeveTemperature2">拉杆两端铜套温度检测2</option>
                                    <option value="getDrawbarBothEndsCopperSleeveTemperature3">拉杆两端铜套温度检测3</option>
                                    <option value="getDrawbarBothEndsCopperSleeveTemperature4">拉杆两端铜套温度检测4</option>
                                    <option value="getDrawbarBothEndsCopperSleeveTemperature5">拉杆两端铜套温度检测5</option>
                                    <option value="getDrawbarBothEndsCopperSleeveTemperature6">拉杆两端铜套温度检测6</option>
                                    <option value="getDrawbarBothEndsCopperSleeveTemperature7">拉杆两端铜套温度检测7</option>
                                    <option value="getDrawbarBothEndsCopperSleeveTemperature8">拉杆两端铜套温度检测8</option>
                                    <option value="getSmallBeltWheelSupportAxisTemperature1">小皮带轮支撑轴承温度检测1</option>
                                    <option value="getSmallBeltWheelSupportAxisTemperature2">小皮带轮支撑轴承温度检测2</option>
                                    <option value="getLeftFrontTripodEccentricBigCopperSleeve">左前三脚架偏心大铜套</option>
                                    <option value="getLeftRearTripodEccentricBigCopperSleeve">左后三脚架偏心大铜套</option>
                                    <option value="getRightFrontTripodEccentricBigCopperSleeve">右前三脚架偏心大铜套</option>
                                    <option value="getRightRearTripodEccentricBigCopperSleeve">右后三脚架偏心大铜套</option>
                                    <option value="getLeftFrontTripodBottomCopperSleeve">左前三脚架下端铜套</option>
                                    <option value="getLeftRearTripodBottomCopperSleeve">左后三脚架下端铜套</option>
                                    <option value="getRightFrontTripodBottomCopperSleeve">右前三脚架下端铜套</option>
                                    <option value="getRightRearTripodBottomCopperSleeve">右后三脚架下端铜套</option>
                                    <option value="getLeftFrontConnectingRodBigCopperSleeve">左前连杆大铜套</option>
                                    <option value="getLeftRearConnectingRodBigCopperSleeve">左后连杆大铜套</option>
                                    <option value="getRightFrontConnectingRodBigCopperSleeve">右前连杆大铜套</option>
                                    <option value="getRightRearConnectingRodBigCopperSleeve">右后连杆大铜套</option>
                                    <option value="getLeftFrontLowSpeedAxisCopperSleeve">左前低速轴铜套</option>
                                    <option value="getLeftRearLowSpeedAxisCopperSleeve">左后低速轴铜套</option>
                                    <option value="getRightFrontLowSpeedAxisCopperSleeve">右前低速轴铜套</option>
                                    <option value="getRightRearLowSpeedAxisCopperSleeve">右后低速轴铜套</option>
                                </select>
                            </div>
                            <div v-if="lineType == lineTypeA" class="card">
                                <select name="temperatureName" v-model="temperatureName" style="width:200px;height:40px;margin-right: 30px;margin-left: 10px;">
                                    <option value=""  selected="selected" >无</option>
                                    <option value="getLeftFrontEccentricWheel">偏心轮左前</option>
                                    <option value="getLeftRearEccentricWheel">偏心轮左后</option>
                                    <option value="getRightFrontEccentricWheel">偏心轮右前</option>
                                    <option value="getRightRearEccentricWheel">偏心轮右后</option>
                                    <option value="getLeftFrontConnectingRod">连杆左前</option>
                                    <option value="getLeftRearConnectingRod">连杆左后</option>
                                    <option value="getRightFrontConnectingRod">连杆右前</option>
                                    <option value="getRightRearConnectingRod">连杆右后</option>
                                    <option value="getRightFrontHighSpeedGearBearingTemperature">前右高速齿轮轴承</option>
                                    <option value="getRightRearHighSpeedGearBearingTemperature">右后高速齿轮轴承</option>
                                    <option value="getLeftFrontHighSpeedGearBearingTemperature">左前高速齿轮轴承</option>
                                    <option value="getLeftRearHighSpeedGearBearingTemperature">左后高速齿轮轴承</option>
                                    <option value="getRightFrontMiddleGearBearingTemperature">右前中间齿轮轴承</option>
                                    <option value="getRightRearMiddleGearBearingTemperature">右后中间齿轮轴承</option>
                                    <option value="getLeftFrontMiddleGearBearingTemperature">左前中间齿轮轴承</option>
                                    <option value="getLeftRearMiddleGearBearingTemperature">左后中间齿轮轴承</option>
                                    <option value="getMainAxisGearBearingTemperature1">主轴齿轮轴承1</option>
                                    <option value="getMainAxisGearBearingTemperature2">主轴齿轮轴承2</option>
                                    <option value="getMainAxisGearBearingTemperature3">主轴齿轮轴承3</option>
                                    <option value="getMainAxisGearBearingTemperature4">主轴齿轮轴承4</option>
                                    <option value="getMainAxisGearBearingTemperature5">主轴齿轮轴承5</option>
                                    <option value="getMainAxisGearBearingTemperature6">主轴齿轮轴承6</option>
                                    <option value="getMainAxisGearBearingTemperature7">主轴齿轮轴承7</option>
                                    <option value="getMainAxisGearBearingTemperature8">主轴齿轮轴承8</option>
                                </select>
                            </div>
                        </td>
                        <td>开始时间：
                            <div class="card">
                                <input class="form-control js-datepicker m-b-10" type="text" ref="start" id="example-datepicker" name="example-datepicker" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd" />
                            </div>
                        </td>
                        <td>结束时间：
                            <div class="card">
                                <input class="form-control js-datepicker m-b-10" type="text" ref="stop" id="" name="example-datepicker" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd" />
                            </div>
                        </td>
                        <td><input type="button" value="查询" style="background-color: #33CABB;width: 70px;height: 35px;color: white" @click="queryHisTemperature" ></td>
                        <td><input type="button" value="导出" style="background-color: #33CABB;width: 70px;height: 35px;color: white" @click="temperatureExport" ></td>
                    </tr>
                </table>
                <table class="imagetable2">
                    <tr>
                        <td  align="center" colspan="2" style="width: 100px;background-color: #2554cc;color: black"><strong><h4>历史温度报表</h4></strong></td>
                    </tr>
                </table>
                <table class="imagetable2">
                    <tr v-if="lineType == lineTypeB  && isPointModel" >
                        <th>PLC名</th>
                        <th>温度点名称</th>
                        <th>温度值</th>
                        <th>时间</th>
                    </tr>
                    <tr v-if="lineType == lineTypeB  && !isPointModel" >
                        <th>PLC名</th>
                        <th>低速轴偏心铜套1</th>
                        <th>低速轴偏心铜套2</th>
                        <th>低速轴偏心铜套3</th>
                        <th>低速轴偏心铜套4</th>
                        <th>高速轴偏心铜套1</th>
                        <th>高速轴偏心铜套2</th>
                        <th>飞轮支撑大轴承1</th>
                        <th>飞轮支撑大轴承2</th>
                        <th>高速轴滚动轴承1</th>
                        <th>高速轴滚动轴承2</th>
                        <th>拉杆两端铜套1</th>
                        <th>拉杆两端铜套2</th>
                        <th>拉杆两端铜套3</th>
                        <th>拉杆两端铜套4</th>
                        <th>拉杆两端铜套5</th>
                        <th>拉杆两端铜套6</th>
                        <th>拉杆两端铜套7</th>
                        <th>拉杆两端铜套8</th>
                        <th>小皮带轮支持轴承1</th>
                        <th>小皮带轮支持轴承2</th>
                        <th>左前三脚架偏心大铜套</th>
                        <th>左后三脚架偏心大铜套</th>
                        <th>右前三脚架偏心大铜套</th>
                        <th>右后三脚架偏心大铜套</th>
                        <th>左前三脚架下端铜套</th>
                        <th>左后三脚架下端铜套</th>
                        <th>右前三脚架下端铜套</th>
                        <th>右后三脚架下端铜套</th>
                        <th>左前连杆大铜套</th>
                        <th>左后连杆大铜套</th>
                        <th>右前连杆大铜套</th>
                        <th>右后连杆大铜套</th>
                        <th>左前低速轴铜套</th>
                        <th>左后低速轴铜套</th>
                        <th>右前低速轴铜套</th>
                        <th>右后低速轴铜套</th>
                        <th>温度警戒值1</th>
                        <th>温度警戒值2</th>
                        <th>时间</th>
                    </tr>
                    <tr v-if="lineType == lineTypeA  && isPointModel">
                        <th>PLC名</th>
                        <th>温度点名称</th>
                        <th>温度值</th>
                        <th>时间</th>
                    </tr>
                    <tr v-if="lineType == lineTypeA  && !isPointModel">
                        <th>PLC名</th>
                        <th>偏心轮左前</th>
                        <th>偏心轮左后</th>
                        <th>偏心轮右前</th>
                        <th>偏心轮右后</th>
                        <th>连杆左前</th>
                        <th>连杆左后</th>
                        <th>连杆右前</th>
                        <th>连杆右后</th>
                        <th>右前高速齿轮轴承</th>
                        <th>右后高速齿轮轴承</th>
                        <th>左前高速齿轮轴承</th>
                        <th>左后高速齿轮轴承</th>
                        <th>右前中间齿轮轴承</th>
                        <th>右后中间齿轮轴承</th>
                        <th>左前中间齿轮轴承</th>
                        <th>左后中间齿轮轴承</th>
                        <th>主轴齿轮轴承1温度</th>
                        <th>主轴齿轮轴承2温度</th>
                        <th>主轴齿轮轴承3温度</th>
                        <th>主轴齿轮轴承4温度</th>
                        <th>主轴齿轮轴承5温度</th>
                        <th>主轴齿轮轴承6温度</th>
                        <th>主轴齿轮轴承7温度</th>
                        <th>主轴齿轮轴承8温度</th>
                        <th>温度警戒值</th>
                        <th>时间</th>
                    </tr>
                    <tr v-if="lineType == lineTypeB && isPointModel" v-for="o in temperatureList">
                        <td :style="{background:o.impression}">{{o.plcName}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureName}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureValue}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureName}}</td>
                    </tr>
                    <tr v-if="lineType == lineTypeB && !isPointModel" v-for="o in temperatureList">
                        <td :style="{background:o.impression}">{{o.plcName}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature4}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisEccentricCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisEccentricCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.flywheelSupportBigAxisTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.flywheelSupportBigAxisTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisRollingBearingTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisRollingBearingTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature4}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature5}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature6}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature7}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature8}}</td>
                        <td :style="{background:o.impression}">{{o.smallBeltWheelSupportAxisTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.smallBeltWheelSupportAxisTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontTripodEccentricBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearTripodEccentricBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontTripodEccentricBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearTripodEccentricBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontTripodBottomCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearTripodBottomCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontTripodBottomCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearTripodBottomCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontConnectingRodBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearConnectingRodBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontConnectingRodBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearConnectingRodBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontLowSpeedAxisCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearLowSpeedAxisCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontLowSpeedAxisCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearLowSpeedAxisCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureWarningValue1}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureWarningValue2}}</td>
                        <td :style="{background:o.impression}">{{FormatDate(o.createTime)}}</td>
                    </tr>
                    <tr v-if="lineType == lineTypeA  && isPointModel" v-for="o in temperatureList">
                        <td :style="{background:o.impression}">{{o.plcName}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureName}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureValue}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureName}}</td>
                    </tr>
                    <tr v-if="lineType == lineTypeA  && !isPointModel" v-for="o in temperatureList">
                        <td :style="{background:o.impression}">{{o.plcName}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontEccentricWheel}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearEccentricWheel}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontEccentricWheel}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearEccentricWheel}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontConnectingRod}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearConnectingRod}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontConnectingRod}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearConnectingRod}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontHighSpeedGearBearingTemperature}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearHighSpeedGearBearingTemperature}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontHighSpeedGearBearingTemperature}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearHighSpeedGearBearingTemperature}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontMiddleGearBearingTemperature}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearMiddleGearBearingTemperature}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontMiddleGearBearingTemperature}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearMiddleGearBearingTemperature}}</td>
                        <td :style="{background:o.impression}">{{o.mainAxisGearBearingTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.mainAxisGearBearingTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.mainAxisGearBearingTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.mainAxisGearBearingTemperature4}}</td>
                        <td :style="{background:o.impression}">{{o.mainAxisGearBearingTemperature5}}</td>
                        <td :style="{background:o.impression}">{{o.mainAxisGearBearingTemperature6}}</td>
                        <td :style="{background:o.impression}">{{o.mainAxisGearBearingTemperature7}}</td>
                        <td :style="{background:o.impression}">{{o.mainAxisGearBearingTemperature8}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureWarningValueA}}</td>
                        <td :style="{background:o.impression}">{{FormatDate(o.createTime)}}</td>
                    </tr>
                </table>

            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <!--时间选择插件-->
    <script src="js/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
    <!--日期选择插件-->
    <script src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>
<script type="module">
    new Vue({
        el:"#app",
        data:{
            temperatureList:[],
            plcName:'',
            temperatureName:'',
            lineType:'B',
            lineTypeB:'B',
            lineTypeA:'A',
            isPointModel:false,
        },methods:{
            getHisTemperatureNewWithoutParam(){
                axios.get("/getHisTemperatureNewWithoutParam").then(result=>{
                    this.temperatureList=result.data;
                    this.lineType=this.temperatureList[0].lineType;
                }).catch(function(error){
                    alert(error)
                })
            },
            queryHisTemperature(){
                let requestData={
                    plcName:this.plcName,
                    temperatureName:this.temperatureName,
                    start:this.$refs.start.value,
                    stop:this.$refs.stop.value
                }
                if(this.temperatureName != undefined) {
                    this.isPointModel = true;
                    // alert("isPointModel = "+this.isPointModel);
                }else {
                    this.isPointModel = false;
                    // alert("isPointModel = "+this.isPointModel);
                }
                axios.get("/getHisTemperatureNew",{params:requestData}).then(result=>{
                    this.temperatureList=result.data;
                    this.lineType=this.temperatureList[0].lineType;
                }).catch(function(error){
                    alert(error)
                })
            },
            temperatureExport(){
                // alert("export temperature ！")
                let requestData={
                    plcName:this.plcName,
                    temperatureName:this.temperatureName,
                    start:this.$refs.start.value,
                    stop:this.$refs.stop.value
                }
                axios.get("/temperatureExport",{params:requestData}).then(result=>{
                    alert("export temperature success !")
                }).catch(function(error){
                    alert(error)
                })
            }, FormatDate: function(date){
                return moment(date).format('YYYY-MM-DD HH:mm:ss');
            }
        },created(){/*vue钩子*/
            // alert("histemperature 勾子");
            this.getHisTemperatureNewWithoutParam();
        }
    })
</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>