<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>温度曲线</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <script src="echarts.min.js"></script>
    <!--时间选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link href="css/style.min.css" rel="stylesheet">
    <style>
        #imagetable{
            border:2px solid white;
        }
        #imagetable td{
            border:2px solid white;
        }
        .imagetable{
            border:2px solid white;
            width: 80%;
            margin-left: 100px;
        }
        table.imagetable {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-collapse: collapse;
        }
        table.imagetable td {
            background:white;
            border-width: 1px;
            padding-left: 8px;
            padding-top: 8px;
            padding-right: 8px;
            /*border-style: solid;*/
        }
        table.imagetable th {
            background:#b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
    </style>
    <script src="jquery-3.3.1.min.js">
    </script>
</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <script src="test.js"></script>
            <main class="lyear-layout-content">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;温度曲线
                <div id="main" style="width: 90%;height:500px;"></div>
                    <table class="imagetable">
                        <tr>
                            <td>PLC名：
                                <div  v-if="lineType == lineTypeB" class="card">
                                    <select name="plcName" v-model="plcName" style="width:100px;margin-right: 30px;margin-left: 10px;">
                                        <option value=""  selected="selected">无</option>
                                        <option value="B-1">压机一</option>
                                        <option value="B-2">压机二</option>
                                        <option value="B-3">压机三</option>
                                        <option value="B-4">压机四</option>
                                        <option value="B-5">压机五</option>
                                        <option value="B-W1">压机一无线</option>
                                        <option value="B-W2">压机二无线</option>
                                        <option value="B-W3">压机三无线</option>
                                        <option value="B-W4">压机四无线</option>
                                        <option value="B-W5">压机五无线</option>
                                    </select>
                                </div>
                                <div  v-if="lineType == lineTypeA" class="card">
                                        <select name="plcName" v-model="plcName" style="width:100px;margin-right: 30px;margin-left: 10px;">
                                            <option value=""  selected="selected">无</option>
                                            <option value="A-1">压机一</option>
                                            <option value="A-2">压机二</option>
                                            <option value="A-3">压机三</option>
                                            <option value="A-4">压机四</option>
                                            <option value="A-W1">压机一无线</option>
                                            <option value="A-W2">压机二无线</option>
                                            <option value="A-W3">压机三无线</option>
                                            <option value="A-W4">压机四无线</option>
                                            <option value="A-W5">压机五无线</option>
                                        </select>
                                </div>
                            </td>
                            <td>温度点名称：
                                <div v-if="lineType == lineTypeB" class="card">
                                    <select name="temperatureName" v-model="temperatureName" style="width:200px;margin-right: 30px;margin-left: 10px;">
                                        <option value=""  selected="selected" >无</option>
                                        <option value="getLowSpeedAxisEccentricCopperSleeveTemperature1">低速轴偏心铜套温度1</option>
                                        <option value="getLowSpeedAxisEccentricCopperSleeveTemperature2">低速轴偏心铜套温度2</option>
                                        <option value="getLowSpeedAxisEccentricCopperSleeveTemperature3">低速轴偏心铜套温度3</option>
                                        <option value="getLowSpeedAxisEccentricCopperSleeveTemperature4">低速轴偏心铜套温度4</option>
                                        <option value="getHighSpeedAxisEccentricCopperSleeveTemperature1">高速轴偏心铜套温度1</option>
                                        <option value="getHighSpeedAxisEccentricCopperSleeveTemperature2">高速轴偏心铜套温度2</option>
                                        <option value="getHighSpeedAxisRollingBearingTemperature1">高速轴滚动轴承温度1</option>
                                        <option value="getHighSpeedAxisRollingBearingTemperature2">高速轴滚动轴承温度2</option>
                                        <option value="getFlywheelSupportBigAxisTemperature1">飞轮支撑大轴承温度1</option>
                                        <option value="getFlywheelSupportBigAxisTemperature2">飞轮支撑大轴承温度2</option>
                                        <option value="getDrawbarBothEndsCopperSleeveTemperature1">拉杆两端铜套温度检测1</option>
                                        <option value="getDrawbarBothEndsCopperSleeveTemperature2">拉杆两端铜套温度检测2</option>
                                        <option value="getDrawbarBothEndsCopperSleeveTemperature3">拉杆两端铜套温度检测3</option>
                                        <option value="getDrawbarBothEndsCopperSleeveTemperature4">拉杆两端铜套温度检测4</option>
                                        <option value="getDrawbarBothEndsCopperSleeveTemperature5">拉杆两端铜套温度检测5</option>
                                        <option value="getDrawbarBothEndsCopperSleeveTemperature6">拉杆两端铜套温度检测6</option>
                                        <option value="getDrawbarBothEndsCopperSleeveTemperature7">拉杆两端铜套温度检测7</option>
                                        <option value="getDrawbarBothEndsCopperSleeveTemperature8">拉杆两端铜套温度检测8</option>
                                        <option value="getSmallBeltWheelSupportAxisTemperature1">小皮带轮支撑轴承温度检测1</option>
                                        <option value="getSmallBeltWheelSupportAxisTemperature2">小皮带轮支撑轴承温度检测2</option>
                                        <option value="getLeftFrontTripodEccentricBigCopperSleeve">左前三脚架偏心大铜套</option>
                                        <option value="getLeftRearTripodEccentricBigCopperSleeve">左后三脚架偏心大铜套</option>
                                        <option value="getRightFrontTripodEccentricBigCopperSleeve">右前三脚架偏心大铜套</option>
                                        <option value="getRightRearTripodEccentricBigCopperSleeve">右后三脚架偏心大铜套</option>
                                        <option value="getLeftFrontTripodBottomCopperSleeve">左前三脚架下端铜套</option>
                                        <option value="getLeftRearTripodBottomCopperSleeve">左后三脚架下端铜套</option>
                                        <option value="getRightFrontTripodBottomCopperSleeve">右前三脚架下端铜套</option>
                                        <option value="getRightRearTripodBottomCopperSleeve">右后三脚架下端铜套</option>
                                        <option value="getLeftFrontConnectingRodBigCopperSleeve">左前连杆大铜套</option>
                                        <option value="getLeftRearConnectingRodBigCopperSleeve">左后连杆大铜套</option>
                                        <option value="getRightFrontConnectingRodBigCopperSleeve">右前连杆大铜套</option>
                                        <option value="getRightRearConnectingRodBigCopperSleeve">右后连杆大铜套</option>
                                        <option value="getLeftFrontLowSpeedAxisCopperSleeve">左前低速轴铜套</option>
                                        <option value="getLeftRearLowSpeedAxisCopperSleeve">左后低速轴铜套</option>
                                        <option value="getRightFrontLowSpeedAxisCopperSleeve">右前低速轴铜套</option>
                                        <option value="getRightRearLowSpeedAxisCopperSleeve">右后低速轴铜套</option>
                                    </select>
                                </div>
                                <div v-if="lineType == lineTypeA" class="card">
                                    <select name="temperatureName" v-model="temperatureName" style="width:200px;margin-right: 30px;margin-left: 10px;">
                                        <option value=""  selected="selected" >无</option>
                                        <option value="getLeftFrontEccentricWheel">偏心轮左前</option>
                                        <option value="getLeftRearEccentricWheel">偏心轮左后</option>
                                        <option value="getRightFrontEccentricWheel">偏心轮右前</option>
                                        <option value="getRightRearEccentricWheel">偏心轮右后</option>
                                        <option value="getLeftFrontConnectingRod">连杆左前</option>
                                        <option value="getLeftRearConnectingRod">连杆左后</option>
                                        <option value="getRightFrontConnectingRod">连杆右前</option>
                                        <option value="getRightRearConnectingRod">连杆右后</option>
                                        <option value="getRightFrontHighSpeedGearBearingTemperature">前右高速齿轮轴承</option>
                                        <option value="getRightRearHighSpeedGearBearingTemperature">右后高速齿轮轴承</option>
                                        <option value="getLeftFrontHighSpeedGearBearingTemperature">左前高速齿轮轴承</option>
                                        <option value="getLeftRearHighSpeedGearBearingTemperature">左后高速齿轮轴承</option>
                                        <option value="getRightFrontMiddleGearBearingTemperature">右前中间齿轮轴承</option>
                                        <option value="getRightRearMiddleGearBearingTemperature">右后中间齿轮轴承</option>
                                        <option value="getLeftFrontMiddleGearBearingTemperature">左前中间齿轮轴承</option>
                                        <option value="getLeftRearMiddleGearBearingTemperature">左后中间齿轮轴承</option>
                                        <option value="getMainAxisGearBearingTemperature1">主轴齿轮轴承1</option>
                                        <option value="getMainAxisGearBearingTemperature2">主轴齿轮轴承2</option>
                                        <option value="getMainAxisGearBearingTemperature3">主轴齿轮轴承3</option>
                                        <option value="getMainAxisGearBearingTemperature4">主轴齿轮轴承4</option>
                                        <option value="getMainAxisGearBearingTemperature5">主轴齿轮轴承5</option>
                                        <option value="getMainAxisGearBearingTemperature6">主轴齿轮轴承6</option>
                                        <option value="getMainAxisGearBearingTemperature7">主轴齿轮轴承7</option>
                                        <option value="getMainAxisGearBearingTemperature8">主轴齿轮轴承8</option>
                                    </select>
                                </div>
                            </td>
                            <td>开始时间：
                                <div class="card">
                                    <input class="form-control js-datepicker m-b-10" type="text"  ref="startDate"  id="example-datepicker"
                                           name="startDate" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd" v-model="startDate"/>
                                </div>
                            </td>
                            <td>结束时间：
                                <div class="card">
                                    <input class="form-control js-datepicker m-b-10" type="text" ref="endDate"  id="datepicker"
                                           name="endDate" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd"  v-model="endDate"/>
                                </div>
                            </td>
                            <td><input type="button" @click="getGraph()" value="查看" style="background-color: #33CABB;width: 70px;height: 35px;color: white"></td>
                        </tr>
                    </table>
<!--                <input type="button" @click="getgraph()" value="查看" style="background-color: #33CABB;width: 70px;height: 35px;color: white">-->
                    <br>

                <script type="text/javascript" src="js/jquery.min.js"></script>
                <script type="text/javascript" src="js/bootstrap.min.js"></script>
                <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
                <script type="text/javascript" src="js/main.min.js"></script>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <!--时间选择插件-->
    <script src="js/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
    <!--日期选择插件-->
    <script src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>

<script  type="module">
    new Vue({
        el:"#app",
        data:{
            // pressureData:null,
            series1:[],
            startDate:'',
            endDate:'',
            plcName:'',
            temperatureName:'',
            lineType:'B',
            lineTypeB:'B',
            lineTypeA:'A',
        },methods:{
            getGraph() {
                // alert("get temperature graph");
                let arr=[];
                let myChart= echarts.init(document.getElementById('main'));
                let requestDate={
                    startDate:this.$refs.startDate.value,
                    endDate:this.$refs.endDate.value,
                    plcName:this.plcName,
                    temperatureName:this.temperatureName
                }
                // alert("startDate="+requestDate.startDate);
                // alert("endDate="+requestDate.endDate);
                // alert("plcName="+requestDate.plcName);
                // alert("temperatureName="+requestDate.temperatureName);
                // myChart.clear();
                axios.get("/getHisTemperature",{params:requestDate}).then(result=>{
                    result =result.data;
                    this.series1 = [];
                    for (let i in result){
                        // let isErrant=true;
                        // alert("value ="+result[i].temperatureValue);
                        let isSolidLine=true;
                        arr.push([moment(result[i].temperatureTime).utcOffset(0).format('YYYY-MM-DD HH:mm:ss'),result[i].temperatureValue]);
                        var color="black";

                        this.series1.push({
                            data:arr,/*需要显示的数据*/
                            type:'line',/*以什么方式展示*/
                            color:'blue',  //折线条的颜色
                            smooth:true,   //关键点，为true是不支持虚线的，实线就用true
                            // 显示数值
                            itemStyle:{
                                normal:{
                                    lineStyle:{
                                        type:'solid'  //'dotted'虚线 'solid'实线
                                    },
                                }
                            }
                        });

                    }

                    let  option = {
                        xAxis: {
                            type: 'time',
                        },
                        yAxis: {
                            type: 'value',
                        },
                        series:this.series1
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                    console.log("arr=>"+arr);
                }).catch(err=>{
                    alert("error chart"+err);
                    myChart.hideLoading();
                });

            },
            queryLineType(){
                axios.get("/geLineType").then(result=>{
                    this.lineType=result.data;
                    // alert("lineType="+result.data);
                }).catch(function(error){
                    alert(error)
                })
            },FormatDate: function(date){
                return moment(date).utcOffset(0).format('YYYY-MM-DD HH:mm:ss');
            }
        },  created(){
            this.queryLineType();
        }
    });
    // 指定图表的配置项和数据

</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>