<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>历史温度报表</title>

    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--时间选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link href="css/style.min.css" rel="stylesheet">
    <style>
        .imagetable{
            border:2px solid white;
            width: 80%;
            margin-left: 20px;
        }
        table.imagetable {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-collapse: collapse;
        }
        table.imagetable td {
            background:white;
            border-width: 1px;
            padding-left: 8px;
            padding-top: 8px;
            padding-right: 8px;
        }

        .imagetable2{
            border:2px solid black;
            width: 80%;
            margin-left: 10px;
        }
        table.imagetable2 {
            font-family: verdana,arial,sans-serif;
            font-size:8px;
            color:#333333;
            border-width: 1px;
            border-color: black;
            border-collapse: collapse;
        }
        table.imagetable2 td {
            background:white;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
        table.imagetable2 th {
            background:#b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
    </style>

</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            <!--End 左侧导航-->

            <!--头部信息-->
            <!--End 头部信息-->
            <script src="test.js"></script>
            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <table class="imagetable">
                    <tr>
                        <td  width="20%"></td>
                        <td  width="20%"></td>
                        <td>开始时间：
                            <div class="card">
                                <input class="form-control js-datepicker m-b-10" type="text" ref="start" id="example-datepicker" name="example-datepicker" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd" />
                            </div>
                        </td>
                        <td>结束时间：
                            <div class="card">
                                <input class="form-control js-datepicker m-b-10" type="text" ref="stop" id="" name="example-datepicker" placeholder="yyyy-mm-dd" value="" data-date-format="yyyy-mm-dd" />
                            </div>
                        </td>
                        <td><input type="button" value="查询" style="background-color: #33CABB;width: 70px;height: 35px;color: white" @click="queryHisTemperature" ></td>
                        <td><input type="button" value="导出" style="background-color: #33CABB;width: 70px;height: 35px;color: white" @click="temperatureExport" ></td>
                    </tr>
                </table>
                <table class="imagetable2">
                    <tr>
                        <td  align="center" colspan="2"><strong><h4>历史温度报表</h4></strong></td>
                    </tr>
                </table>
                <table class="imagetable2">

                    <tr>
                        <th>PLC名</th>
                        <th>低速轴偏心铜套1</th>
                        <th>低速轴偏心铜套2</th>
                        <th>低速轴偏心铜套3</th>
                        <th>低速轴偏心铜套4</th>
                        <th>高速轴偏心铜套1</th>
                        <th>高速轴偏心铜套2</th>
                        <th>飞轮支撑大轴承1</th>
                        <th>飞轮支撑大轴承2</th>
                        <th>拉杆两端铜套1</th>
                        <th>拉杆两端铜套2</th>
                        <th>拉杆两端铜套3</th>
                        <th>拉杆两端铜套4</th>
                        <th>拉杆两端铜套5</th>
                        <th>拉杆两端铜套6</th>
                        <th>拉杆两端铜套7</th>
                        <th>拉杆两端铜套8</th>
                        <th>小皮带轮支持轴承1</th>
                        <th>小皮带轮支持轴承2</th>
                        <th>高速轴滚动轴承1</th>
                        <th>高速轴滚动轴承2</th>
                        <th>左前连杆大铜套</th>
                        <th>左后连杆大铜套</th>
                        <th>右前连杆大铜套</th>
                        <th>右后连杆大铜套</th>
                        <th>左前低速轴铜套</th>
                        <th>左后低速轴铜套</th>
                        <th>右前低速轴铜套</th>
                        <th>右后低速轴铜套</th>
                    </tr>
                    <tr v-for="o in temperatureList">
                        <td :style="{background:o.impression}">{{o.plcName}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature4}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisEccentricCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisEccentricCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.flywheelSupportBigAxisTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.flywheelSupportBigAxisTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature4}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature5}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature6}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature7}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature8}}</td>
                        <td :style="{background:o.impression}">{{o.smallBeltWheelSupportAxisTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.smallBeltWheelSupportAxisTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisRollingBearingTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisRollingBearingTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontConnectingRodBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearConnectingRodBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontConnectingRodBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearConnectingRodBigCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftFrontLowSpeedAxisCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.leftRearLowSpeedAxisCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightFrontLowSpeedAxisCopperSleeve}}</td>
                        <td :style="{background:o.impression}">{{o.rightRearLowSpeedAxisCopperSleeve}}</td>
                    </tr>
                </table>

            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <!--时间选择插件-->
    <script src="js/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
    <!--日期选择插件-->
    <script src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>
<script type="module">
    new Vue({
        el:"#app",
        data:{
            temperatureList:[],
        },methods:{
            getHisTemperatureNewWithoutParam(){
                axios.get("/getHisTemperatureNewWithoutParam").then(result=>{
                    this.temperatureList=result.data;
                }).catch(function(error){
                    alert(error)
                })
            },
            queryHisTemperature(){
                let requestData={
                    start:this.$refs.start.value,
                    stop:this.$refs.stop.value
                }
                axios.get("/getHisTemperatureNew",{params:requestData}).then(result=>{
                    this.temperatureList=result.data;
                }).catch(function(error){
                    alert(error)
                })
            },
            temperatureExport(){
                // alert("export temperature ！")
                let requestData={
                    start:this.$refs.start.value,
                    stop:this.$refs.stop.value
                }
                axios.get("/temperatureExport",{params:requestData}).then(result=>{
                    alert("export temperature to D:/csv/ success !")
                }).catch(function(error){
                    alert(error)
                })
            },
        },created(){/*vue钩子*/
            // alert("histemperature 勾子");
            this.getHisTemperatureNewWithoutParam();
        }
    })
</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>