<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>系统配置</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <script th:src="@{/vue.min.js}"></script>
    <script th:src="axios.min.js"></script>
    <style>
        .imagetable{
            border:2px solid black;
            width: 80%;
            height: 300px;
            margin-left: 100px;
        }
        table.imagetable {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-color: black;
            border-collapse: collapse;
        }
        table.imagetable th {
            background:#b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }
        table.imagetable td {
            background:white ;
            border-width: 1px;
            padding: 8px;
            border-color: #999999;
        }

    </style>
</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <script src="test.js"></script>
            <main class="lyear-layout-content">
                <br>
<!--                <form action="/deletePlcConfig" method="post">-->
                <form >
<!--                    <router-link to='/temperaturePlcConfigAdd'>-->
<!--                        <button>添加PLC信息11</button>-->
<!--                    </router-link>-->
                <table class="imagetable" v-if="isKeep">
                    <tr>
                        <td  align="center" colspan="2"><strong><h4>系统配置信息列表</h4></strong></td>
                        <td  width="20%" />
                        <td/>
<!--                        <td height="120px" align="center"  colspan="2"><input type="submit" value="添加PLC信息"   @click="gotoAdd()" style="width: 100px;background-color: #33CABB;color: white" ></td>-->
                    </tr>
                    <tr>
<!--                        <th>ID</th>-->
                        <th>属性名</th>
                        <th>属性值</th>
                        <th>操作</th>
                        <th></th>
                        <th></th>
                        <th></th>
<!--                        <th>操作2</th>-->
                    </tr>
                    <tr v-for="o in propertyConfig">
<!--                        <td :style="{background:o.impression}" >-->
<!--                            {{o.id}}-->
<!--                            <input class="form-control js-datepicker m-b-10" type="text" name="id" v-model="o.id"/>-->
<!--                        </td>-->
                        <td :style="{background:o.impression}">
                            <input class="form-control js-datepicker m-b-10" type="text" name="description" v-model="o.description" />
                        </td>
                        <td :style="{background:o.impression}">
                            <input class="form-control js-datepicker m-b-10" type="text" name="propValue" v-model="o.propValue" />
                        </td>
                        <td height="50px" align="center"  colspan="2"><input type="submit" value="修改"   @click="updatePropertyConfig(o)" style="width: 100px;background-color: #33CABB;color: white" ></td>
                    </tr>

                    <tr>
                        <td ><strong><h4>
                            <span style="align:center;background-color: #cc1b2d;">
                            修改后请手工刷新页面生效配置!
                            </span>
                        </h4></strong></td>
                        <td  width="20%" />
                        <td />
                        <!--                        <td height="120px" align="center"  colspan="2"><input type="submit" value="添加PLC信息"   @click="gotoAdd()" style="width: 100px;background-color: #33CABB;color: white" ></td>-->
                    </tr>
                </table>
                </form>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>
<script type="module">
    new Vue({
        el:"#app",
        data:{
            propertyConfig:{},
            retMsg:'',
            isKeep: true,
            intervalId: null,
        },methods:{
            getPropertyConfig(){
                axios.get("/getTemperatureConfig").then(result=>{
                    this.propertyConfig=result.data;
                })
            },
            reaload() {
                this.isKeep = false
                this.$nextTick(() => {
                    this.isKeep = true
                })
            },
            updatePropertyConfig(o){
                // alert("id"+o.id);
                let params ={
                    id:o.id,
                    propName:o.propName,
                    propValue:o.propValue
                }
                // axios("/updatePropertyConfig",{params:params}).then(alert("修改成功"), location.reload())
                axios("/updatePropertyConfig",{params:params}).then(result=>{
                    // this.propertyConfig=result.data;
                    // console.log('---',result)
                    alert(result.data.msg);
                    window.reload();
                    // setTimeout(() => {
                    //     this.reaload()
                    // },1000)
                });
            },
            timer(){
                if (this.intervalId!=null){/*代表计时器已经启动*/
                    return ;
                }
                this.intervalId = setInterval(() => {
                    this.getPropertyConfig();
                    // alert("10秒刷新");
                }, 10000);
            },
        },
        created(){
            // this.timer();
            this.getPropertyConfig();
        }
    })
</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>