<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>温度实时监控</title>

    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--时间选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link href="css/style.min.css" rel="stylesheet">
    <style>
        .imagetable{
            border:2px solid white;
            width: 80%;
            margin-left: 20px;
        }
        table.imagetable {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-collapse: collapse;
        }
        table.imagetable td {
            background:white;
            border-width: 1px;
            padding-left: 8px;
            padding-top: 8px;
            padding-right: 8px;
        }

        .imagetable2{
            border:2px solid black;
            width: 80%;
            margin-left: 10px;
        }
        table.imagetable2 {
            font-family: verdana,arial,sans-serif;
            font-size:8px;
            color:#333333;
            border-width: 1px;
            border-color: black;
            border-collapse: collapse;
        }
        table.imagetable2 td {
            background:white;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
        table.imagetable2 th {
            background:#b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
    </style>

</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            <!--End 左侧导航-->

            <!--头部信息-->
            <!--End 头部信息-->
            <script src="test.js"></script>
            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <table class="imagetable">
                    <tr>
                        <td  width="25%"></td>
                        <td height="25px" style="width: 100px;background-color: #ccbf42;color: black">【温度警戒值1】{{temperatureWarningValue1}} &nbsp;摄氏度</td>

                        <td height="25px" style="width: 100px;background-color: #ccbf42;color: black">【温度警戒值2】{{temperatureWarningValue2}} &nbsp;摄氏度</td>
                    </tr>
                </table>
                <table class="imagetable2">
                    <tr>
                        <td  align="center" colspan="2"  style="width: 100px;background-color: #2554cc;color: black"><strong><h4>有线温度实时监控</h4></strong></td>
                    </tr>
                </table>
                <table class="imagetable2">

                    <tr>
                        <th>PLC名</th>
<!--                        <th>PLC连接</th>-->
<!--                        <th>温度状态</th>-->
                        <th>低速轴偏心铜套1</th>
                        <th>低速轴偏心铜套2</th>
                        <th>低速轴偏心铜套3</th>
                        <th>低速轴偏心铜套4</th>
                        <th>高速轴偏心铜套1</th>
                        <th>高速轴偏心铜套2</th>
                        <th>高速轴滚动轴承1</th>
                        <th>高速轴滚动轴承2</th>
                        <th>飞轮支撑大轴承1</th>
                        <th>飞轮支撑大轴承2</th>
                        <th>拉杆两端铜套1</th>
                        <th>拉杆两端铜套2</th>
                        <th>拉杆两端铜套3</th>
                        <th>拉杆两端铜套4</th>
                        <th>拉杆两端铜套5</th>
                        <th>拉杆两端铜套6</th>
                        <th>拉杆两端铜套7</th>
                        <th>拉杆两端铜套8</th>
                        <th>小皮带轮支持轴承1</th>
                        <th>小皮带轮支持轴承2</th>
                    </tr>
                    <tr v-for="o in listTemperature">
<!--                        <td :style="{background:o.impression}"  >-->
<!--                            <span v-if="o.status==='WARNING'">WARNING</span>-->
<!--                            <span v-else-if="o.status==='OK'">INFO</span>-->
<!--                        </td>-->
                        <td :style="{background:o.impression}">{{o.plcName}}</td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.lowSpeedAxisEccentricCopperSleeveTemperature1 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.lowSpeedAxisEccentricCopperSleeveTemperature1}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.lowSpeedAxisEccentricCopperSleeveTemperature1}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.lowSpeedAxisEccentricCopperSleeveTemperature2 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.lowSpeedAxisEccentricCopperSleeveTemperature2}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.lowSpeedAxisEccentricCopperSleeveTemperature2}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.lowSpeedAxisEccentricCopperSleeveTemperature3 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.lowSpeedAxisEccentricCopperSleeveTemperature3}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.lowSpeedAxisEccentricCopperSleeveTemperature3}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.lowSpeedAxisEccentricCopperSleeveTemperature4 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.lowSpeedAxisEccentricCopperSleeveTemperature4}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.lowSpeedAxisEccentricCopperSleeveTemperature4}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.highSpeedAxisEccentricCopperSleeveTemperature1 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.highSpeedAxisEccentricCopperSleeveTemperature1}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.highSpeedAxisEccentricCopperSleeveTemperature1}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.highSpeedAxisEccentricCopperSleeveTemperature2 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.highSpeedAxisEccentricCopperSleeveTemperature2}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.highSpeedAxisEccentricCopperSleeveTemperature2}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.flywheelSupportBigAxisTemperature1 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.flywheelSupportBigAxisTemperature1}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.flywheelSupportBigAxisTemperature1}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.flywheelSupportBigAxisTemperature2 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.flywheelSupportBigAxisTemperature2}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.flywheelSupportBigAxisTemperature2}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.highSpeedAxisRollingBearingTemperature1 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.highSpeedAxisRollingBearingTemperature1}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.highSpeedAxisRollingBearingTemperature1}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.highSpeedAxisRollingBearingTemperature2 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.highSpeedAxisRollingBearingTemperature2}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.highSpeedAxisRollingBearingTemperature2}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.drawbarBothEndsCopperSleeveTemperature1 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.drawbarBothEndsCopperSleeveTemperature1}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.drawbarBothEndsCopperSleeveTemperature1}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.drawbarBothEndsCopperSleeveTemperature2 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.drawbarBothEndsCopperSleeveTemperature2}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.drawbarBothEndsCopperSleeveTemperature2}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.drawbarBothEndsCopperSleeveTemperature3 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.drawbarBothEndsCopperSleeveTemperature3}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.drawbarBothEndsCopperSleeveTemperature3}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.drawbarBothEndsCopperSleeveTemperature4 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.drawbarBothEndsCopperSleeveTemperature4}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.drawbarBothEndsCopperSleeveTemperature4}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.drawbarBothEndsCopperSleeveTemperature5 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.drawbarBothEndsCopperSleeveTemperature5}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.drawbarBothEndsCopperSleeveTemperature5}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.drawbarBothEndsCopperSleeveTemperature6 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.drawbarBothEndsCopperSleeveTemperature6}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.drawbarBothEndsCopperSleeveTemperature6}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.drawbarBothEndsCopperSleeveTemperature7 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.drawbarBothEndsCopperSleeveTemperature7}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.drawbarBothEndsCopperSleeveTemperature7}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.drawbarBothEndsCopperSleeveTemperature8 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.drawbarBothEndsCopperSleeveTemperature8}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.drawbarBothEndsCopperSleeveTemperature8}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.smallBeltWheelSupportAxisTemperature1 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.smallBeltWheelSupportAxisTemperature1}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.smallBeltWheelSupportAxisTemperature1}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.smallBeltWheelSupportAxisTemperature2 >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.smallBeltWheelSupportAxisTemperature2}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.smallBeltWheelSupportAxisTemperature2}}</span>
                        </td>
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">21.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">22.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">35.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">56.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">32.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">18.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">45.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #cc1b2d;color: black">69.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">43.3°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">54.3°C</td>-->
                    </tr>
                </table>
                <table class="imagetable2">
                    <tr>
                        <td  align="center" colspan="2" style="width: 100px;background-color: #2554cc;color: black"><strong><h4>无线温度实时监控</h4></strong></td>
                    </tr>
                </table>
                <table class="imagetable2">
                    <tr>
                        <th>PLC名</th>
<!--                        <th>PLC连接</th>-->
<!--                        <th>温度状态</th>-->
<!--                        <th>左前三脚架偏心大铜套</th>-->
<!--                        <th>左后三脚架偏心大铜套</th>-->
<!--                        <th>右前三脚架偏心大铜套</th>-->
<!--                        <th>右后三脚架偏心大铜套</th>-->
<!--                        <th>左前三脚架下端铜套</th>-->
<!--                        <th>左后三脚架下端铜套</th>-->
<!--                        <th>右前三脚架下端铜套</th>-->
<!--                        <th>右后三脚架下端铜套</th>-->
                        <th>左前连杆大铜套</th>
                        <th>左后连杆大铜套</th>
                        <th>右前连杆大铜套</th>
                        <th>右后连杆大铜套</th>
                        <th>左前低速轴铜套</th>
                        <th>左后低速轴铜套</th>
                        <th>右前低速轴铜套</th>
                        <th>右后低速轴铜套</th>
                    </tr>
                    <tr v-for="o in listTemperatureWireless">
                        <!--                        <td :style="{background:o.impression}"  >-->
                        <!--                            <span v-if="o.status==='WARNING'">WARNING</span>-->
                        <!--                            <span v-else-if="o.status==='OK'">INFO</span>-->
                        <!--                        </td>-->
                        <td :style="{background:o.impression}">{{o.plcName}}</td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.leftFrontConnectingRodBigCopperSleeve >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.leftFrontConnectingRodBigCopperSleeve}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.leftFrontConnectingRodBigCopperSleeve}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.leftRearConnectingRodBigCopperSleeve >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.leftRearConnectingRodBigCopperSleeve}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.leftRearConnectingRodBigCopperSleeve}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.rightFrontConnectingRodBigCopperSleeve >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.rightFrontConnectingRodBigCopperSleeve}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.rightFrontConnectingRodBigCopperSleeve}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.rightRearConnectingRodBigCopperSleeve >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.rightRearConnectingRodBigCopperSleeve}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.rightRearConnectingRodBigCopperSleeve}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.leftFrontLowSpeedAxisCopperSleeve >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.leftFrontLowSpeedAxisCopperSleeve}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.leftFrontLowSpeedAxisCopperSleeve}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.leftRearLowSpeedAxisCopperSleeve >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.leftRearLowSpeedAxisCopperSleeve}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.leftRearLowSpeedAxisCopperSleeve}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.rightFrontLowSpeedAxisCopperSleeve >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.rightFrontLowSpeedAxisCopperSleeve}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.rightFrontLowSpeedAxisCopperSleeve}}</span>
                        </td>
                        <td :style="{background:o.impression}">
                            <span v-if="o.rightRearLowSpeedAxisCopperSleeve >= temperatureWarningValue" style="align:center;background-color: #cc1b2d;">{{o.rightRearLowSpeedAxisCopperSleeve}}</span>
                            <span v-else style="align:center;background-color: #25cc2f;">{{o.rightRearLowSpeedAxisCopperSleeve}}</span>
                        </td>
<!--                        <td :style="{background:o.impression}">{{o.flywheelSupportBigAxisTemperature1}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.flywheelSupportBigAxisTemperature2}}</td>-->
<!--                        <td style="width: 100px;background-color: #cc1b2d;color: black">62.5°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">42.5°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">59.5°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">28.5°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">51.5°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">36.5°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">27.5°C</td>-->
<!--                        <td style="width: 100px;background-color: #25cc2f;color: black">50.5°C</td>-->
                    </tr>
                </table>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <!--时间选择插件-->
    <script src="js/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
    <!--日期选择插件-->
    <script src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>
<script type="module">
    new Vue({
        el:"#app",
        data:{
            listTemperature:[],
            listTemperatureWireless:[],
            temperatureWarningValue1:'',
            temperatureWarningValue2:'',
            temperatureWarningValue:'',
        },methods:{
            getCurrentTemperature(){
                // alert("getTemperature started...");
                axios.get("/getCurrentTemperatureNew").then(result=>{
                    this.listTemperature=result.data[0];
                    this.listTemperatureWireless=result.data[1];
                    this.temperatureWarningValue1=this.listTemperature[0].temperatureWarningValue1;
                    this.temperatureWarningValue2=this.listTemperature[0].temperatureWarningValue2;
                    if (this.temperatureWarningValue1 > this.temperatureWarningValue2) {
                        this.temperatureWarningValue = this.temperatureWarningValue1;
                    } else {
                        this.temperatureWarningValue = this.temperatureWarningValue2;
                    }
                    // alert("1111 " );
                    // alert("temperatureWarningValue1 = " +this.temperatureWarningValue1);
                    // alert("listTemperature size="+listTemperature);
                    for (let i in this.listTemperature) {
                        // this.listTemperature[i]["impression"]="RGB(255,0,0)"
                        this.listTemperature[i]["impression"]="RGB(180,180,180)"

                        // for(let j in this.listTemperature[i]){
                            // alert("1111 " );
                            // this.listTemperature[i][0]["impression"]="RGB(255,0,0)"
                            // this.listTemperature[i][1].style.background= "red";
                            // this.listTemperature[i][2].style.background="RGB(192,192,192)"
                            // if (this.listTemperature[i][j] > this.temperatureWarningValue1){
                            //     this.listTemperature[i][j]["impression"]="RGB(255,0,0)"
                            //     alert("222 " );
                            // } else {
                            //     this.listTemperature[i][j]["impression"]="RGB(192,192,192)"
                            //     alert("333 " );
                            // }
                        // }
                    }

                    for (let i in this.listTemperatureWireless) {
                        this.listTemperatureWireless[i]["impression"]="RGB(180,180,180)"
                        // for(var j=0;j<this.listTemperatureWireless[i].length;j++){
                        //     if (this.temperatureWarningValue1[i][j] > this.temperatureWarningValue1){
                        //         this.temperatureWarningValue1[i][j]["impression"]="RGB(255,0,0)"
                        //     } else {
                        //         this.temperatureWarningValue1[i][j]["impression"]="RGB(192,192,192)"
                        //     }
                        // }
                    }
                })
            },
            timer(){
                if (this.intervalId!=null){/*代表计时器已经启动*/
                    return ;
                }
                this.intervalId = setInterval(() => {
                    this.getCurrentTemperature();
                }, 10000);
            },
        },created(){/*vue钩子*/
            this.getCurrentTemperature();
        }
    })
</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>