<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>温度实时监控</title>

    <script th:src="@{/vue.min.js}"></script>
    <script th:src="@{/axios.min.js}"></script>
    <meta name="author" content="yinqi">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--时间选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
    <!--日期选择插件-->
    <link rel="stylesheet" href="js/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link href="css/style.min.css" rel="stylesheet">
    <style>
        .imagetable{
            border:2px solid white;
            width: 80%;
            margin-left: 20px;
        }
        table.imagetable {
            font-family: verdana,arial,sans-serif;
            font-size:15px;
            color:#333333;
            border-width: 1px;
            border-collapse: collapse;
        }
        table.imagetable td {
            background:white;
            border-width: 1px;
            padding-left: 8px;
            padding-top: 8px;
            padding-right: 8px;
        }

        .imagetable2{
            border:2px solid black;
            width: 80%;
            margin-left: 10px;
        }
        table.imagetable2 {
            font-family: verdana,arial,sans-serif;
            font-size:8px;
            color:#333333;
            border-width: 1px;
            border-color: black;
            border-collapse: collapse;
        }
        table.imagetable2 td {
            background:white;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
        table.imagetable2 th {
            background:#b5cfd2;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
        }
    </style>

</head>
<body>
<div id="app">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            <!--End 左侧导航-->

            <!--头部信息-->
            <!--End 头部信息-->
            <script src="test.js"></script>
            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <table class="imagetable2">
                    <tr>
                        <th>PLC名</th>
                        <th>PLC连接</th>
                        <th>温度状态</th>
                        <th>低速轴偏心铜套温度检测1</th>
                        <th>低速轴偏心铜套温度检测2</th>
                        <th>低速轴偏心铜套温度检测3</th>
                        <th>低速轴偏心铜套温度检测4</th>
                        <th>高速轴偏心铜套温度检测1</th>
                        <th>高速轴偏心铜套温度检测2</th>
                        <th>飞轮支撑大轴承温度检测1</th>
                        <th>飞轮支撑大轴承温度检测2</th>
                        <th>拉杆两端铜套温度检测1</th>
                        <th>拉杆两端铜套温度检测2</th>
                        <th>拉杆两端铜套温度检测3</th>
                        <th>拉杆两端铜套温度检测4</th>
                        <th>拉杆两端铜套温度检测5</th>
                        <th>拉杆两端铜套温度检测6</th>
                        <th>拉杆两端铜套温度检测7</th>
                        <th>拉杆两端铜套温度检测8</th>
                        <th>小皮带轮支撑轴承温度检测1</th>
                        <th>小皮带轮支撑轴承温度检测2</th>
                        <th>三脚架下端铜套温度检测1</th>
                        <th>三脚架下端铜套温度检测2</th>
                        <th>三脚架下端铜套温度检测3</th>
                        <th>三脚架下端铜套温度检测4</th>
                        <th>三脚架偏心大铜套温度检测1</th>
                        <th>三脚架偏心大铜套温度检测2</th>
                        <th>三脚架偏心大铜套温度检测3</th>
                        <th>三脚架偏心大铜套温度检测4</th>
<!--                        <th>备用温度检测0</th>-->
<!--                        <th>备用温度检测1</th>-->
<!--                        <th>备用温度检测2</th>-->
<!--                        <th>备用温度检测3</th>-->
<!--                        <th>备用温度检测4</th>-->
<!--                        <th>备用温度检测5</th>-->
<!--                        <th>备用温度检测6</th>-->
<!--                        <th>备用温度检测7</th>-->
<!--                        <th>备用温度检测8</th>-->
<!--                        <th>备用温度检测9</th>-->
<!--                        <th>备用温度检测10</th>-->
<!--                        <th>备用温度检测11</th>-->
                        <th>温度警戒值1</th>
                        <th>温度警戒值2</th>
                    </tr>
                    <tr v-for="o in listTemperature">
<!--                        <td :style="{background:o.impression}"  >-->
<!--                            <span v-if="o.status==='WARNING'">WARNING</span>-->
<!--                            <span v-else-if="o.status==='OK'">INFO</span>-->
<!--                        </td>-->
                        <td :style="{background:o.impression}">{{o.plcName}}</td>
                        <td :style="{background:o.impression}">{{o.plcConnectionStatus}}</td>
                        <td :style="{background:o.impression}">{{o.status}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.lowSpeedAxisEccentricCopperSleeveTemperature4}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisEccentricCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.highSpeedAxisEccentricCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.flywheelSupportBigAxisTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.flywheelSupportBigAxisTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature4}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature5}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature6}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature7}}</td>
                        <td :style="{background:o.impression}">{{o.drawbarBothEndsCopperSleeveTemperature8}}</td>
                        <td :style="{background:o.impression}">{{o.smallBeltWheelSupportAxisTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.smallBeltWheelSupportAxisTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.tripodBottomCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.tripodBottomCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.tripodBottomCopperSleeveTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.tripodBottomCopperSleeveTemperature4}}</td>
                        <td :style="{background:o.impression}">{{o.tripodEccentricBigCopperSleeveTemperature1}}</td>
                        <td :style="{background:o.impression}">{{o.tripodEccentricBigCopperSleeveTemperature2}}</td>
                        <td :style="{background:o.impression}">{{o.tripodEccentricBigCopperSleeveTemperature3}}</td>
                        <td :style="{background:o.impression}">{{o.tripodEccentricBigCopperSleeveTemperature4}}</td>
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature0}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature1}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature2}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature3}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature4}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature5}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature6}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature7}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature8}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature9}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature10}}</td>-->
<!--                        <td :style="{background:o.impression}">{{o.backupTemperature11}}</td>-->
                        <td :style="{background:o.impression}">{{o.temperatureWarningValue1}}</td>
                        <td :style="{background:o.impression}">{{o.temperatureWarningValue2}}</td>

<!--                        <td :style="{background:o.impression}" >    <span v-if="o.alarmStatus=='1'">已确认</span>-->
<!--                            <span v-else-if="o.alarmStatus=='0'">待确认</span>-->
<!--                        </td>-->
                    </tr>
                </table>
            </main>
            <!--End 页面主要内容-->
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
    <!--时间选择插件-->
    <script src="js/bootstrap-datetimepicker/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="js/bootstrap-datetimepicker/locale/zh-cn.js"></script>
    <!--日期选择插件-->
    <script src="js/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="js/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
</div>
<script type="module">
    new Vue({
        el:"#app",
        data:{
            listTemperature:[],
        },methods:{
            getCurrentTemperature(){
                // alert("getTemperature started...");
                axios.get("/getCurrentTemperature").then(result=>{
                    this.listTemperature=result.data;
                    // alert("listTemperature size="+listTemperature);
                    for (let i in this.listTemperature) {
                        if (this.listTemperature[i].status==="WARNING"){
                            this.listTemperature[i]["impression"]="RGB(255,0,0)"
                        }else if(this.listTemperature[i].status==="OK"){
                            this.listTemperature[i]["impression"]="RGB(192,192,192)"
                        }else{
                            this.listTemperature[i]["impression"]="RGB(192,192,192)"
                        }
                    }
                })
            },
            timer(){
                if (this.intervalId!=null){/*代表计时器已经启动*/
                    return ;
                }
                this.intervalId = setInterval(() => {
                    this.getCurrentTemperature();
                }, 10000);
            },
        },created(){/*vue钩子*/
            this.getCurrentTemperature();
        }
    })
</script>
</body>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>